{%extends 'users/userBase.html'%}
{% load static %}

{% block main %}

<div class="container">
    <h3>About Us</h3>
    <hr>
<b>An Encompassing Insightful Experience- Give Power to Your Train Travel Decision-Making</b>
</br>

Travel is fun and when it comes to train travel, we go into the bypaths and un-trodden depths of wilderness and travel explorations to tell the world the glories of our journey!
</br>
</br>
<b>What makes us drive through?</b>
</br>
Our Motto: Simplifying Train Travels

With over 23.9 million passengers traveling and commuting daily by train, RailYatri aims to serve its passengers with inclusive and comprehensive information that helps those making informed decisions, thus simplifying their train travels.RailYatri.in is a premier portal for Indian Railways train travellers. We strive to be the fastest, mobile-friendly site that answers all your train travel questions in a few taps. A comprehensive hub of train travel information that dedicatedly works to give its users insightful information, all under one roof, to help them plan and take their train travel decisions in a better way..
</br>
</br>
<b>How and Why We Started</b>
    <br>

The journey of RailYatri started two years back when a handful of technology experts got together to remove the information black-box that shrouds information regarding Indian Railways. Indian Railways is the preferred transportation mode for a vast majority of Indian population, yet pertinent information is not readily available and the information rather available is scattered. It is then, RailYatri stepped in to tackle such worries of its railway passengers. It has always aimed to be the capable train travel advisor helping passengers make informed decisions about their train travel.

We, at RailYatri do not just stop at presenting the dry numbers, but provide insights behind them. We offer analytical based information that makes us standout alone of the other sources of information. This is why our users’ base has been growing with every passing day.
</div>

{% endblock %}