{%extends 'users/userBase.html'%}
{% load static %}

{% block main %}

    <div class="container">
        <h1>{{data.name}}</h1>
        <div class="row">
            <div class="col-md-6 slider-sec">
                <!-- main slider carousel -->
                <div id="myCarousel" class="carousel slide">
                    <!-- main slider carousel items -->
                    <div class="carousel-inner">
                        <div class="active item carousel-item" data-slide-number="0">
                            <img src="https://www.energeticthemes.com/templates/sanat/assets/images/home/h2.jpg" class="img-fluid">
                        </div>
                    </div>
                </div>
                <!--/main slider carousel-->
            </div>
            <div class="col-md-6 slider-content">
                <h4>{{data.name}}</h4>
                <p class="qwerty">Route: {{data.fromAddress}} To {{data.toAddress}}</p>
                <p class="qwerty">Price: Rs {{data.price}}</p>
                <p class="qwerty">Time: {{data.duration}}</p>
                {% comment %} <p class="qwerty">Date: {{data.date}}</p> {% endcomment %}
                <p class="qwerty">Time: {{data.time}}</p>

            </br>
                <button class="btn btn-primary" onclick="book()">Book Ticket</button>
            </div>
    </div>


{% endblock %}